.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  height: 100px;
  width: 100px;
}

.nav-items {
  margin-right: 20px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items > ul > li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.search {
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
  gap: 5px;
}
.search-bar {
  padding: 10px 100px;
  border: 1px solid black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.res-card {
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 10px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login-logout {
  margin: 20px;
  padding: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
}

.user-class {
  padding: 10px;
  border: 1px solid black;
}
